<body class="app_body">
  <div class="header">
    <div class="innerHeader">
      <div class="logo_container">
        <a href="/home" class="logo">Work Integrated Learning</a>
      </div>

      <ul class="navigation">
        <a href="#" routerLink="/all-students"><li>All Students</li></a>
        <a href="#" routerLink="/employed"><li>Employed Students</li></a>
        <a href="#" routerLink="/"><li>Sign In/Out</li></a>
      </ul>
    </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
